[2020-03-26 17:50] calvinckho opened #7 "Complete Profile Page"
add the javascript logics to completeprofile.page.ts so the newly created UI buttons are functional.

You can find the logics in the following places. Do these 3 first. I'll need to work on the About Us logic a bit before you can add it.

- [x] front/src/app/pages/connect/myconversations/myconversations.page.html
line 86 Push Notification
line 103 Import Contacts

- [x] front/src/app/pages/user/pr

[2020-03-26 17:51] calvinckho opened #9 "Me Page upgrade"
Implement Alvin's Figma Design:
- [x] User Profile Banner (Picture, Name, Bio, Edit Profile Button)
- [x] add the Complete Profile Banner

[2020-03-26 17:51] calvinckho opened #11 "HTML/CSS update for Dark Mode"
Go through the whole app and make dark mode updates:

/theme/variables.scss is where the variable css is defined

Chat UI Dark Mode update
- [x] begin with front/src/app/pages/group/groupchat/groupchat.page.html

[2020-03-26 18:18] calvinckho opened #12 "Decide between Jira and Github"

[2020-03-26 18:22] calvinckho commented on #12
@alexandertsung This is a test

[2020-03-27 21:49] #9 closed

[2020-03-27 21:49] calixo888 commented on #9
PR made

[2020-03-30 20:29] calvinckho opened #15 "Metrics for Insights"
a new feature to be added in the backend and to be displayed on the frontend

[2020-03-30 20:35] calvinckho commented on #15
Metrics for Insights:

- [ ] track number of mentees, number of mentors, number of active mentoring relationships, number of lifetime mentoring relationships (including non-active), number of stale mentoring relationship over time
- [ ] pie chart of % of active relationships over (active + inactive relationships)
- [ ] pie chart of % active participants over all participants (active + inactive)

[2020-03-31 22:43] calixo888 opened #17 "Implement Me Page Figma Designs for Desktop UI"
I know I asked you to work on the mobile view first. Would you also be able to implemented the desktop view that Alvin created in the same code? You would need to use platform.width() < 768 quite a lot. Do a search and see how I do it in other parts of the code.

As for the production timeline, I incorporated some of your codes (e.g. the completeprofile.page.html, .ts) and created a separate branc

[2020-03-31 23:16] calvinckho commented on #17
thanks. let me know if you run into any problems! Also, make sure you pay close attention to the CSS properties (e.g. font size, etc.) in the figma file and try to replicate as closely as you can. Thanks!

[2020-04-02 00:35] calixo888 opened #18 "Null/undefined patch for progress bar"
Fix null/undefined error for progress bar on mentorship page.

[2020-04-02 03:53] calvinckho commented on #15
Hey Lorne, can you take a look at /front/src/app/pages/main-tab/main-tab.page.ts line 386, 387 and see how I log app usage time? It correspond to /server/app/controllers/systemlog.js line 9 which is the backend API to log usage time.

Your objective is to first design a strategy within the web app to collect relationship activity information.

I added you to Gideon Coached By Alex. Can you start p

[2020-04-02 04:36] #12 closed

[2020-04-02 06:31] calvinckho opened #20 "Chrome swPush is not receiving push notification"
Investigate why Chrome swPush is not receiving push notification on macOS. But Chrome on Samsung S7 is working correctly.

- [ ] take a look at /src/app/pages/main-tab/main-tab.page.ts line 359 and check if it returns any push token to the pushSubscription variable

[2020-04-02 06:35] calvinckho opened #21 "create new e2e test for the Me page and the complete set up action flow"
1. cd /front
2. npm run e2e
3. it should run the e2e test succesfully

- [ ] try write a simple test that do clicks on a button on the Me page. the e2e test script is in /front/e2e/src/app.e2e-spec.ts

[2020-04-02 07:00] calvinckho opened #22 "Implement default Program/Relationship detection"
Upon detecting a new user has joined her first Program/Community/Relationship (either actively or passively) that is not the default Restvo Community, automatically set the default program to it. It should also switch the landing page from Discover to Dashboard.

[2020-04-02 17:04] calixo888 opened #23 "Add node_modules to .gitignore"
Please add the node_modules folder to the .gitignore. It is popping up after each pull from `app_dev01`

[2020-04-02 17:09] calvinckho opened #24 "improve the accessibility of the Video Conferencing function"
the current Jitsi video integration is working fine. but sometimes it is hard to get to it.

Several suggested improvements:

- [ ] when the first user join a video chat, automatically sends a message to everyone in the chat room to inform them, and a push notification to all devices as well
- [x] a easy way to create a one-off video session. the session should create a url that the user can easil

[2020-04-02 17:11] calixo888 opened #25 "Add and modify new labels for developers and designers"
The labels used in Issues are default, and they can be improved on, especially for the incoming designers. Just add new labels and modify the existing ones.

[2020-04-02 17:14] calvinckho commented on #17
Specs for the Me page:

Regular User Fields:

Coach/Mentor Fields:
- More detailed about the Mentors

Shared Fields:
- [ ] Titles (e.g. Engineer, Father, Professional Life Coach, etc)

[2020-04-02 17:14] davidloesch1 commented on #22
<img width="1440" alt="Screen Shot 2020-04-02 at 10 05 26 AM" src="https://user-images.githubusercontent.com/16859476/78277778-e5bf7600-74c9-11ea-821f-0252ce131bcd.png">

Hi Calvin,

So let me see if I understand what you're looking for:
1. - you'd like me to remove the mentoring toggle feature
2.  - You'd like to know when someone has joined a new community (other than the default Restvo communit

[2020-04-03 00:24] calvinckho opened #26 "To-Do/Note Edit Mode"
It is located in showfeature.page.html

- [x] implement the DELETE button on the top as an icon

- [x] Remove the border

- [x] As user is typing on the Note section (collaborative text box), have an indicator at the top of the text box that gives the state: none, "saving...", "saved". Refer to Google doc on how they do it.

Desktop

- [x] Remove the text box border and make the note feature take

[2020-04-03 00:25] calvinckho commented on #26
@alvinwklee you can post your Figma file here. I'll assign a software eng intern to tackle your design.

[2020-04-03 00:26] calvinckho commented on #26
@alexandertsung I moved your improvement suggestions to here.

[2020-04-03 17:59] calixo888 commented on #25
Just added :)

[2020-04-03 17:59] #25 closed

[2020-04-03 18:06] calixo888 commented on #7
Added these changes. Task changed to me-page-sprint branch.

[2020-04-03 18:06] #7 closed

[2020-04-03 21:05] calvinckho commented on #7
thanks Calix!

[2020-04-04 18:04] calixo888 commented on #18
PR made

[2020-04-04 18:38] calixo888 commented on #23
Node Modules was already ignore by Git

[2020-04-04 18:38] #23 closed

[2020-04-06 17:44] calvinckho commented on #26
@calixo888 I am assigning you this new issue. Can you give it a shot? This is when you are in the relationship page, and click on a To-Do and it opens the Edit To-Do view. Can you try make these improvements?

[2020-04-06 21:37] alvinwklee commented on #26
https://www.figma.com/file/tCYsSppbXBa22E8dE3Tdn4/Restvo-PSWC?node-id=455%3A310

A few of the screens within the flow are a bit outdated (Creating a Goal), but the Create a To-Do screens are good. You can ignore the flow below Create a To-Do since those were just explorations.

[2020-04-07 01:31] alvinwklee opened #31 "iOS Mobile onboarding"
- Carousel indicators are not visible within dark mode

- Screen is vertically scrollable when it shouldn't be

- No way for user to go back or exit from this page

![image](https://user-images.githubusercontent.com/41273385/78619327-eccfe680-7831-11ea-8f82-9ddaad95a2ee.png)

[2020-04-07 04:32] calvinckho commented on #31
Hi @xinluzhou Can you take a look at this? It is located in /src/app/pages/user/register. @alvinwklee I can't reproduce the vertical scrollability on my iPhone 7. Are you on iPhone X?

[2020-04-07 04:34] #24 closed

[2020-04-07 04:43] calvinckho commented on #26
@alvinwklee if you can clean up the figma file a bit and move the outdated or exploration stuff to a different labeled section or page, that will be really helpful. I know @calixo888 was confused last time when he tries to implement the Me page.

[2020-04-07 07:39] alvinwklee commented on #31
I'm using an iPhone XR. The vertical scroll seems to apply to all pages throughout the onboarding. Also, when switching between e-mail sign-up and mobile sign-up, it scrolls past the "Upload Profile Picture" screen briefly. There also seems to be a horizontal line on the bottom when scrolling down after switching between the two.

![File from iOS](https://user-images.githubusercontent.com/41273385

[2020-04-07 09:42] xinluzhou commented on #31
I am on Iphone X, I will take a look!

[2020-04-07 18:14] calixo888 commented on #26
Will do, I will try to implement these designs

[2020-04-07 18:54] calvinckho commented on #26
@calixo888 wiki definitions:

On To-Do:
https://github.com/calvinckho/restvo-app/wiki/Core-Concepts#to-dos

Content Calendar Item definition here: https://github.com/calvinckho/restvo-app/wiki/Core-Concepts#content-calendar

[2020-04-07 18:55] calvinckho commented on #26
showfeature.page.html
line 155 Content Calendar Item
line 644 Add a Note section - Text answer component

[2020-04-07 22:26] #18 closed

[2020-04-08 00:13] gideon-ho opened #32 "The discover page - featured communities slideshow are over swiping on chromebook"
Swiping to much.It goes blank after 3 swipes or more

[2020-04-08 16:35] alexandertsung commented on #15
@lorneez @calvinckho

In addition to the metrics that Calvin listed above, please also add:
_- [ ] pie chart of % of active relationships over (active + inactive relationships)

- [ ] See STICKINESS CHART / LINE CHART for track number of mentees, number of mentors, number of active mentoring relationships, number of lifetime mentoring relationships (including non-active), number of stale mentoring

[2020-04-08 16:38] alexandertsung opened #33 "Restvo Side Menu Redesign"
- "Mentoring Mode" will be phased out
- Do we need an "Admin Mode"?

Edit Buttons could be added to all pages:
Discover, News, Chat, and Me Page

[2020-04-08 18:42] calvinckho opened #35 "Create a new Desktop Design for Payment"
- [x] Come up with a first draft

[2020-04-10 00:07] alvinwklee opened #36 "Left swiping on default mentoring"
When having a default mentoring program selected, swiping left on the page brings the page to Restvo community page. Top navigation bar still displays the originally selected default mentoring program even though it's on the Restvo community page.

A few example screen recordings from iPhone XR:

![ezgif com-optimize (1)](https://user-images.githubusercontent.com/41273385/78950747-8ee70d00-7a84-11

[2020-04-10 01:37] calvinckho commented on #36
Thanks @alvinwklee for documenting this!

[2020-04-11 16:09] calvinckho opened #37 "add deeplink url (in mobile web) to 'Continue to App' on videoconference.html"
add deeplink support

[2020-04-11 17:48] calvinckho opened #38 "add Coach sometimes does not show self"

[2020-04-11 22:13] calvinckho commented on #38
issue fixed

[2020-04-11 22:13] #38 closed

[2020-04-12 21:44] calvinckho opened #39 "Improve billing history HTML layout"
<img width="1280" alt="Screen Shot 2020-04-12 at 2 29 50 PM" src="https://user-images.githubusercontent.com/23274587/79080537-9c8dd400-7cca-11ea-8f86-7b3cc6b2f47b.png">

Currently,  the billing history section is displayed using table. It works fine on desktop but not so well on mobile. Can you rewrite the html and use div instead of table to display the information? For reference, you can take a

[2020-04-13 00:23] calvinckho commented on #11
@xinluzhou Great work!

[2020-04-13 00:23] #11 closed

[2020-04-13 00:25] calvinckho commented on #26
@alvinwklee Calix is trying to add the 'saving.../saved' state on the Edit To-Do page per our previous discussion. I think Devon has created a version before. Can you add it to the Edit To-Do figma so Calix can implement it? Thanks.

[2020-04-13 00:30] calvinckho commented on #33
@alexandertsung maybe we should reconsider using our current Manage Menu item, take out what we have now, and redesign it as a space for Community Management function instead?

[2020-04-13 05:02] calvinckho opened #40 "turn off webflow header translucent"
<img width="934" alt="Screen Shot 2020-04-12 at 10 00 42 PM" src="https://user-images.githubusercontent.com/23274587/79093468-3aa08f00-7d09-11ea-814b-9400a8e32c63.png">

@alexandertsung can you turn off Webflow header translucent so it doesn't blends in with the words?

[2020-04-13 05:04] calvinckho commented on #40
never mind. it only shows in the editor.

[2020-04-13 05:04] #40 closed

[2020-04-13 05:48] calvinckho opened #41 "opening chat via push notification on iOS"
it opens fine, but then after you tap the 'back' button, it becomes a black screen.

[2020-04-13 19:19] alvinwklee commented on #26
I've put the two screens that show the states within the to-do page and have labeled them. Hope this helps.

[2020-04-13 22:16] calvinckho opened #42 "desktop login page should allow pressing enter to submit form"
right now it requires manually clicking/tapping the Submit button to submit the login form. Ideally, we want to listen to the 'enter' key event and send the form as soon as the enter key is pressed.

[2020-04-14 01:06] calvinckho commented on #22
@davidloesch1 I merged your detection logic to the app-dev01 branch. Great work!

[2020-04-14 01:18] calvinckho commented on #22
@davidloesch1 can you follow up with these cases/edge cases:
1) when a user leaves a community/program that he has set as default, revert back to the Discover state (e.g. UIMentoringMode = false) and also set defaultProgram back to Restvo. Also I added the local caching to storage (see my latest branch, moment.service.ts line 420) and you would need to update the cache as well.

[2020-04-15 06:17] calvinckho opened #44 "create user research questionnaire"
- [ ] what language they prefer to describe their ministry philosophy: discipleship, Christian Education, spiritual formation, spiritual growth?

- [ ] what are the important information they want to show on their Homepage on the app?

[2020-04-15 06:23] calvinckho commented on #33
Alex and I will have a separate section called Admin.

[2020-04-15 20:29] calixo888 opened #45 "While in Jitsi video call, make chat notification open in new window"
When clicking on chat notification while in a video chat call, it opens in the current tab - it should open in a different window.

[2020-04-15 23:15] calvinckho opened #46 "add versioning support to Note"

[2020-04-16 17:27] davidloesch1 commented on #22
Hi calvin,

I'm not sure if this was intentional or not, but it seems like the
app/discover/home/:id
<img width="1440" alt="Screen Shot 2020-04-16 at 10 17 42 AM" src="https://user-images.githubusercontent.com/16859476/79487061-80d94500-7fcc-11ea-8f00-c4576843641d.png">

and the
app/activity/:id
<img width="1440" alt="Screen Shot 2020-04-16 at 10 18 00 AM" src="https://user-images.githubuserconten

[2020-04-16 18:23] calvinckho opened #47 "improve email sign up verification email templates"
- [ ] email sign up verification email template
- [ ] password reset email template

[2020-04-16 18:29] calvinckho commented on #22
Great question! It is intentional.
<img width="934" alt="Screen Shot 2020-04-16 at 11 27 49 AM" src="https://user-images.githubusercontent.com/23274587/79492788-5344c980-7fd5-11ea-80c6-b07f2b5cac78.png">
BTW, your version of code is obsolete. Please pull the latest app-dev01 and see the latest Home button. See how the new 'discover/home/xxx' now has an edit action icon. The user can click on it to

[2020-04-17 00:22] calvinckho opened #48 "show loading animation when adding participants in editparticipants.ts"
<img width="866" alt="Screen Shot 2020-04-16 at 5 22 36 PM" src="https://user-images.githubusercontent.com/23274587/79518824-e0544680-8006-11ea-95c3-2102026ffa4c.png">

[2020-04-17 00:23] #35 closed

[2020-04-17 02:01] calixo888 opened #49 "Top right button should lead to the me page"
I think the top right button on desktop (the one with profile picture and name) should lead to the me page. Right now it leads to the profile edit page.

[2020-04-18 18:31] calvinckho opened #52 "Desktop Admin Portal View"
Hi @CassieMKY, I am assigning @calixo888 to help implement part of the Admin Portal view (Desktop). If you can paste your figma file here that will be cool

[2020-04-18 21:50] calvinckho opened #53 "Design System"
Hi @leahnsung I created this issue to assist in the process of updating the design system.

[2020-04-18 22:01] calvinckho commented on #52
@CassieMKY please upload the figma file here.

[2020-04-18 22:07] CassieMKY commented on #52
Cool, here is my Figma Link:
https://www.figma.com/file/Xkxvak06HzMgLKWhFVTe26/Keyu?node-id=11%3A0

[2020-04-19 03:09] calixo888 opened #54 "Restvo email notification bugs"
2 bugs I can see very quickly in Restvo email notifications

1. Messages overflow the container. Probably because the container has a fixed height
2. Links sent show the HTML "a" tag with it.

[Image](https://www.dropbox.com/s/hz0s6uu4vr1acvy/Screenshot%202020-04-18%2020.07.57.png?dl=0)

[2020-04-19 05:15] calvinckho commented on #53
Hi @leahnsung Here are a list of example components we use in our current project: https://dev.restvo.com/designsystem. Please let me know if I miss anything. I can add more and publish the page again.

This Ionic Component documentation is a really helpful reference: https://ionicframework.com/docs/api/segment-button#css-custom-properties

For example, if we want to change the padding-bottom of t

[2020-04-19 05:34] calvinckho commented on #53
@leahnsung I put together this wiki doc that should be helpful to you: https://github.com/calvinckho/restvo-app/wiki/Theming-and-Styling

[2020-04-19 22:01] gideon-ho opened #55 "desktop mouse pointer when hover over buttons becomes text edit pointer"

[2020-04-20 04:58] calvinckho commented on #54
Thanks @calixo888. We use handlebars to render and send template emails.

It is set to dynamic height. It renders everything correctly except anchor links. I am aware of this, as I failed to implement [innerHtml] in div in handlebar, so HTML tags aren't rendered correctly, hence the overflow.

I will look more closely into it this week. In the meantime, have you worked with handlebars, and you kno

[2020-04-20 06:26] calvinckho opened #56 "Navigate from Edit View back to Admin View"
When navigate from Edit Activity view back to Admin View, sometimes (e.g. on Desktop app) it skips the Admin View and go straight back to the Me page.

[2020-04-20 19:27] calixo888 commented on #54
@calvinckho Where are the files located? I've never worked with handlebars, but I can figure it out. I just need to see the code first.

[2020-04-21 06:32] calvinckho commented on #45
@calixo888 you can try to replicate this bug by creating a dummy account and send yourself a text while you are in a video chat. See if you can replicate it.

[2020-04-21 06:38] calvinckho commented on #45
@calixo888 I fixed it really quickly! So closing issue.

[2020-04-21 06:38] #45 closed

[2020-04-21 06:45] calvinckho commented on #55
@xinluzhou can you add hover css on the secondary menu? See if you point you mouse over 'User Profile', 'About Me', it is a text edit pointer instead of a mouse pointer.
I used ion-menu-toggle in the primary menu (see /front/src/app/app.component.html), but I used ion-item for the secondary menu items in /front/src/app/pages/user/user.page.html and that was the cause of it.
<img width="895" alt="S

[2020-04-21 22:49] leahnsung commented on #53
Thanks, Calvin! This is really helpful. I'm only able to see the dark mode
settings for now. Is it because I have dark mode on my computer?

On Sat, Apr 18, 2020 at 10:16 PM Calvin Ho <notifications@github.com> wrote:

--
Best,

Leah Sung
510-409-8065

[2020-04-21 23:22] calvinckho commented on #53
Yes! If you switch to light mode on your mac, you’ll see the light mode colors.

[2020-04-21 23:33] gideon-ho opened #58 "Youtube video fullscreen does not work on chrome"

[2020-04-22 00:25] xinluzhou commented on #55
Hi Calvin, I think the problem is that all items in the secondary menu are not with a link, because when I changed <ion-item (click)="clickManageMenu('profile')"> to <ion-item [routerLink]="['/app/user/profile']", it turned out to be a mouse pointer , but the bold function was disabled. Do you still  want the item in second menu become bold after clicking or keeping it same as primary menu?

[2020-04-22 01:11] xinluzhou commented on #55
I figure it out ! thanks

[2020-04-22 04:21] leahnsung commented on #53
Here are a few other components I don't see on there. Can you double check
if ionic already has these?

   - flash message
   - loading indicator
   - shimmer effect for loading

Thanks!

On Tue, Apr 21, 2020 at 4:22 PM Calvin Ho <notifications@github.com> wrote:

--
Best,

Leah Sung
510-409-8065

[2020-04-22 19:20] calvinckho commented on #52
@calixo888 to add a second router-outlet to the same page, see https://angular.io/guide/router

[2020-04-22 21:37] calvinckho commented on #52
the Admin page is located at /front/src/app/pages/feature/manage
the Groups page is located at /front/src/app/pages/feature/manage/feature-childactivities

you can check out calvin-personal-plan branch to see it, or wait until I update the app-dev01 branch

[2020-04-23 18:56] #22 closed

[2020-04-23 18:57] calvinckho opened #60 "When leaving or deleting an Activity, update defaultProgram"
related to #22

[2020-04-23 18:58] #39 closed

[2020-04-23 19:02] calvinckho commented on #47
@lorneez the template file is located in /restvo/templates/group-email/html.hbs.

the culprit lies in line 24
{{#if this.body}}<div class="message">{{this.body}}</div>{{/if}}

the right way to do it in Angular HTML

{{#if this.body}}<div class="message" [innerHTML]="this.body"></div>{{/if}}

But since this is not angular, we can't get the this.body to be assigned to the innerHTML property. Can you

[2020-04-23 19:02] #32 closed

[2020-04-23 19:03] #33 closed

[2020-04-23 19:30] calvinckho opened #61 "better gesture in Discover Mentors sliders - 'See More' button instead of swiping, or display mentors in a list?"
Desktop browser swiping of mentors sometimes over swipe #43

[2020-04-23 19:32] calvinckho commented on #54
@lorneez  the template file is located in /restvo/templates/group-email/html.hbs.

the culprit lies in line 24
{{#if this.body}}

{{this.body}}
{{/if}}
the right way to do it in Angular HTML

{{#if this.body}}<div class="message" [innerHTML]="this.body">{{/if}}

But since this is not angular, we can't get the this.body to be assigned to the innerHTML property. Can you research how others assign va

[2020-04-23 19:36] alexandertsung commented on #61
@calvinckho @leahnsung Leah has made a desktop mock that shows you can click an arrow to Discover instead of the mobile action of swiping. She can also include pagination (optional) if we think its needed but I think the arrow to scroll side to side is more than enough for now.

[2020-04-24 04:33] tingteng931 opened #62 "News in Community"
https://www.figma.com/file/cKqgRA176QzQvMi33UkK6C/Restvo_NEWS?node-id=222%3A0

[2020-04-24 17:15] calvinckho commented on #52
@calixo888 start you work on:
1) move the desktop nav bar to the top
2) try to wire up the chat router-outlet

[2020-04-25 18:08] calvinckho opened #63 "increase iPhone X+ top and bottom spacing"

[2020-04-25 18:18] alvinwklee opened #64 "Me Page Handoff"
https://www.figma.com/file/qD4InkFEzspNx4OWGzijLV/Restvo-Me-Page?node-id=598%3A0

[2020-04-25 20:18] devonwashington opened #65 "Invite Flow Handoff"
https://www.figma.com/file/oko0tcA9XX9jNO5tVuzZYU/Locate-App?node-id=0%3A1

Finished product is in the "Prototype" page.

[2020-04-25 20:21] calvinckho opened #66 "Webapp Error Logging Service & API"
see this: https://pusher.com/tutorials/error-handling-angular-part-1

the ideal place to add the error logging mechanism: /service/systemlogs/

can you create an API on the backend and also add a logic in the systemlogs service on the web app?

[2020-04-27 03:36] calvinckho commented on #63
@alexandertsung the latest version should have fixed this issue. can you please check to confirm?

[2020-04-27 22:03] calvinckho commented on #65
@davidloesch1 Thanks Devon. I am assigning this to David and I will be working with him on implementing your design. Thanks!

[2020-04-27 22:04] calvinckho commented on #64
@calixo888 Thanks Alvin. Calix will be in charge of implementing the styling and I will add the About Me card and wire up the the text box response logic.

[2020-04-27 22:06] calvinckho commented on #44
@alexandertsung would you want to have Nathan join Github and we can coordinate the marketing effort here as well?

[2020-04-27 22:07] calvinckho commented on #49
Thanks @calixo888! Great suggestion.

[2020-04-27 22:07] #49 closed

[2020-04-27 22:10] calvinckho commented on #64
Duplicate of #17

[2020-04-27 22:10] #64 closed

[2020-04-27 22:11] calvinckho commented on #17
@alvinwklee I've merged your Me page handoff with this issue which has already been open.

[2020-04-27 22:18] calvinckho commented on #58
@calixo888 can you take a quick look at it? It was an issue on a Chromebook's chrome browser, but it works okay on my MacBook Pro chrome.

[2020-04-28 17:46] calvinckho commented on #65
@devonwashington Do you mean this file?
https://www.figma.com/file/dLMIySKJ8k5o0weeRA2mej/Invite-Flow-Redesign?node-id=0%3A1

[2020-04-28 17:53] devonwashington commented on #65
If you click on the Figma link, there should be a list of pages on the left-hand side. There, there is a list of a page I've created to organize my work (Invite Flow Char, Components, Prototype,, Invite Alternate Concepts, and Invite UI). The one named "Prototype" is the one I am referring to.

[2020-04-28 18:01] calvinckho commented on #65
the path to the file is restvo-app/src/app/pages/feature/editparticipants/editparticipants.page.html

[2020-04-28 18:03] calvinckho commented on #65
user_list_1: participant
user_list_2: admin
user_list_3: leader

[2020-04-28 18:04] devonwashington commented on #65
https://www.figma.com/file/dLMIySKJ8k5o0weeRA2mej/Invite-Flow-Redesign?node-id=298%3A2239

Try this

[2020-04-28 18:34] calvinckho commented on #65
you can consult /src/app/pages/feature/manage/feature-insight/feature-insight.page.html for html template for dynamic list

[2020-04-28 19:34] calvinckho commented on #63
@alexandertsung just added you to this issue. can you check it on your iPhone X+?

[2020-04-28 19:36] calvinckho opened #67 "improve load Recent Activity logic"
change 'Recent' tab logic from calendarService to momentService so it load the Activities from the backend

[2020-05-03 07:59] calvinckho commented on #54
thanks Lorne. I tried your solution but it didn't work. It turns out handlebar can render text unescaped using triple curly brackets {{{ this.body }}}. It solved the bug.

Thanks for taking a stab at it.

[2020-05-03 07:59] #54 closed

[2020-05-03 07:59] #63 closed

[2020-05-04 23:19] lorneez commented on #54
Hmm that is interesting. Does this work like this: the third set of curly brackets converts the initial
content of the double curly brackets into escaped characters?

[2020-05-07 04:48] calvinckho commented on #31
@xinluzhou any update on this issue?

[2020-05-07 04:49] #55 closed

[2020-05-07 04:49] calvinckho commented on #62
@davidloesch1 Thanks Ting! I am assigning David to work on it.

[2020-05-07 04:52] calvinckho commented on #48
@davidloesch1 while you are working on editparticipants.page.html, can you add the loading animation to it? You can consult how I did it with ion-spinner in other pages.

[2020-05-07 04:53] calvinckho commented on #56
@calixo888 can use your help on this once you got Admin Portal mostly implemented. This is not high priority and can be done last.

[2020-05-08 20:12] xinluzhou commented on #31
Sorry, I still cannot get my xcode work.

[2020-05-12 18:08] calvinckho commented on #42
Calix, can you look at this again since it is still not working on Safari?

[2020-05-12 18:10] calvinckho commented on #65
@davidloesch1, any update on this? I think you were pretty close and I wonder if it is ready to be merged?

[2020-05-12 18:29] calvinckho commented on #36
I think I found a way to fixed it. Will be released in the next version.

[2020-05-12 18:29] #36 closed

[2020-05-13 02:31] davidloesch1 commented on #65
Hi Calvin,

yes it was close, I'm just making a small change to the "invite" dropdown
I'll submit it shortly, next hour!

[2020-05-13 02:55] davidloesch1 commented on #48
I added it to the david-invite-flow branch.  I placed it where it compiles the lists of users in the src/app/pages/feature/editparticipants/editparticipants.page.ts file.  Lines 127 - 131.  Let me know if that is where you wanted it.

[2020-05-13 03:07] davidloesch1 commented on #62
Hi Calvin, Will we be able to go over this in tomorrows meeting 1 on 1?

[2020-05-16 02:00] alexandertsung opened #71 "ENTER doesn't send message on Browser/Desktop"
PRIMARY FIX: ENTER key should ideally send message instead of having to click "send" icon on Desktop Experience

SECONDARY FIX: SHIFT+ENTER should allow someone to go to next line i.e. similar to Slack or other messaging platforms.

[2020-05-16 03:50] alvinwklee opened #72 "iOS Home Indicator and Restvo Tab Bar spacing"
The spacing between the tab bar (home, news, chat, me buttons) and the iOS home indicator is off, at least with my screen size (iPhone XR). not sure if this is the same with other iOS or Android devices
.
Calvin has mentioned that this is only within iPhone X and XR.

Here are some examples with it compared to other apps within my phone:
![image (1)](https://user-images.githubusercontent.com/41273

[2020-05-16 05:50] calvinckho opened #73 "Unread message count doesn't get reset"
on mobile app, sometimes the unread message count doesn't get reset correctly.

[2020-05-18 17:35] calvinckho commented on #60
@davidloesch1 what is the status on this? Did you get to implement this yet?

[2020-05-18 17:37] calvinckho commented on #31
@xinluzhou Can you get your Xcode to work now?

[2020-05-18 17:38] calvinckho commented on #46
temporary close this for now. not high priority

[2020-05-18 17:38] #46 closed

[2020-05-18 17:46] calvinckho commented on #65
@davidloesch1 can you also add sorting to the Name field? see it in action in Insight, try click on 'Participant' and it will sort the participants in alphabetical order: https://app.restvo.com/app/manage/activity/5d5785b462489003817fee18/insight/5d5785b462489003817fee18
the code is in front/src/app/pages/feature/manage/feature-insight/feature-insight.page.html line 22-24

[2020-05-18 17:49] calvinckho commented on #61
@leahnsung can you attach your Discover Mentors mock here? I am having @Ananya157 take a crack at it. Thanks.

[2020-05-18 17:59] davidloesch1 commented on #65
cool, will work on this now

On Mon, May 18, 2020 at 10:46 AM Calvin Ho <notifications@github.com> wrote:

--
David Loesch
678.899.0435
davidloesch1@gmail.com

[2020-05-18 21:31] calvinckho commented on #71
@Ananya157 restvo-app/src/app/pages/group/groupchat/groupchat.page.html line 448 is the send button, line 447 text area

[2020-05-19 21:31] calvinckho commented on #41
to reproduce this, have a chat (with participant X) open. then lock the phone. Upon receiving a push notification from participant X and clicking on it, the app loads, open the new groupchat modal page, and upon exiting the groupchat modal view, it becomes black screen with no way to exit.

[2020-05-20 19:04] calvinckho commented on #42
@Ananya157 Hi Ananya, can you help me take a look at this. It was partially fixed by Calix but it is not working on Safari. Thanks!

[2020-05-20 19:07] calvinckho commented on #58
I am assigning you to this. Can you test out the video full screen on safari, firefox, edge (if you have it), mobile browser, android Restvo app, etc.?
https://app.restvo.com/app/activity/5ebcdc1cb601a52009c89e5d;type=2;token=Q5AsFYSdNo

[2020-05-20 19:13] #71 closed

[2020-05-20 19:15] calvinckho commented on #20
@Ananya157 This one is a bit more fun to work with. If you can take a look and see why it isn't receiving push notification on desktop Chrome. Is it receiving push notification on your android browser? You will need to create a dummy account and send message to your account to test push notification.

[2020-05-20 19:21] calvinckho commented on #41
@Ananya157 once you have deployed the app on iOS simulator, log in using a dummy account, then send a Restvo message to the dummy account to see if you can reproduce this bug.

[2020-05-20 19:22] calvinckho commented on #72
@Ananya157 deploy it on iPhone XR simulator and see if you can fix the bottom tab nav spacing issue

[2020-05-20 21:36] calvinckho commented on #42
restvo-app/src/app/pages/user/register/register.page.html

[2020-05-21 04:46] alexandertsung opened #80 "Integrate Restvo Menu and Chat into Jitsi Video Browser"
Currently the video chat experience on Restvo is limited. Opening video into new tab is a good start BUT not having a chat in video that connects with Restvo Chat is a bad user experience. In addition, we should integrate Restvo menu into the video chat as well.

Here is a photoshop wireframe of what we could do to fix this:

![Jitsi + Restvo Chat Wireframe](https://user-images.githubusercontent.c

[2020-05-23 23:21] calvinckho opened #84 "open Content reminder push notification leads to showfeature.page.html stuck with the loading animation"

[2020-05-26 23:34] alexandertsung commented on #80
@calvinckho Can we assign one of our devs. to tackle this?

[2020-05-26 23:48] calvinckho commented on #80
@alexandertsung I have assigned myself to this.

Should we put the chat on the right hand side? Also, we need a more thorough design on what happens when users click on links/items in the chat panel. Does it open up another tab, or does it show the details in the sub panel area.

[2020-05-27 07:03] calvinckho commented on #84
fixed in 1.8.13 (4)

[2020-05-27 07:03] #84 closed

[2020-05-27 18:04] calixo888 opened #86 "Only show "Saved." instead of "Saving..." status on Restvo form"
When typing in text boxes on relationship forms, textbox status should never hit "Saving...", but only display on "Saved."

[2020-05-29 04:18] #42 closed

[2020-05-29 22:15] calvinckho opened #87 "Capacitor PushNotification.register created two channels on Android"
on Samsung S7, upon installing the app, it receives push notification on two channels: default and miscellaneous.

need to investigate on whether we need to create or delete channels:
https://capacitor.ionicframework.com/docs/apis/push-notifications/

[2020-05-29 22:18] calvinckho commented on #61
@Ananya157 I just slacked @leahnsung to remind her to attach the Discover Mentors mock file.

[2020-05-30 00:40] calvinckho opened #88 "check on the status of the iOS webview bug"
https://bugs.webkit.org/show_bug.cgi?id=203293#c7

[2020-06-01 23:25] Ananya157 commented on #58
Hi Calvin,
I have tested this issue on Chrome, Firefox, Safari, Edge(both in mac OS and Windows ), Android App, IOS App, Mobile browser and it works fine.
There was one problem in Chrome in windows because of the old Chrome version.
For the Chrome version: 67.0.3396.99 it gave a blank white page when the video was in full screen with audio working fine, but later I updated the chrome version and i

[2020-06-02 04:09] leahnsung commented on #61
@calvinckho @Ananya157 here's the figma link for the desktop version of the mentor section with the sliders: https://www.figma.com/file/kg579Vp6DKx500nguwhJbG/WebApp?node-id=37%3A19

Let me know if you have any questions

[2020-06-04 06:48] calvinckho commented on #15
@lorneez has completed the metrics @Ananya157 is taking over the implementing the display of the metrics in the Insight View.
I have spoken to @alexandertsung @alvinwklee. @alexandertsung will take point on the design of the Admin View for now. So @Ananya157 if you have any question related to the Figma design, please ask Alex.

[2020-06-04 18:18] calvinckho commented on #65
@devonwashington if you can give @davidloesch1 some feedbacks it will be awesome (e.g. the display of multiple roles, whether separated by commas or using badges). Also, Devon, the list can now be sorted by clicking on the heading. Devon, can you add a carrot icon or something to help users know that it is a sortable list?

[2020-06-05 23:39] #44 closed

[2020-06-06 15:41] rachelbian opened #94 "jitsi issues on opera"
I've been having some issues connecting to our video call platform from opera web browser. There's been one time it's worked (which is the most recent time I've used it) and that was the most recent team sync, so maybe this issue has been fixed. What happens is that I join, and it looks like people are there but I'm unable to see video and it just looks like everyone is waiting. I'll see visual cu

[2020-06-06 17:59] calvinckho commented on #94
thank you Rachel for reporting this bug!

[2020-06-07 01:08] #53 closed

[2020-06-08 01:18] calvinckho commented on #15
@lorneez improved on the Relationship Activity metrics spec: https://github.com/calvinckho/restvo-app/wiki/Specs-for-Relationship-Activity-Detection

[2020-06-08 01:19] calvinckho commented on #15
@lorneez I have asked Alex to share 2-3 more metrics that we need APIs and frontend display in the admin view.

[2020-06-09 04:16] calvinckho commented on #47
figma file: https://www.figma.com/file/X4X2fCDp972JknFi1A0NIw/restvo-emails?node-id=0%3A1

<img width="725" alt="Screen Shot 2020-06-08 at 9 15 24 PM" src="https://user-images.githubusercontent.com/23274587/84105461-4046e800-a9cd-11ea-829a-940d689c6686.png">

[2020-06-09 06:06] #65 closed

[2020-06-09 06:08] calvinckho commented on #21
@calixo888 can you follow up on the comment I left in the PR?

[2020-06-09 06:10] calvinckho commented on #17
@calixo888 can you go back to @alvinwklee's figma design and try to add the empty state graphics for Mentors, Mentees, Journeys, Groups?

https://www.figma.com/file/qD4InkFEzspNx4OWGzijLV/Restvo-Home-Me-Page?node-id=193%3A0

@alvinwklee should we add an empty state graphics for Journeys?

[2020-06-09 06:13] calvinckho commented on #26
@alvinwklee thanks for adding the 'saved 13 minutes ago'. If we show the exact amount of elapsed time, we would need to refresh it every minute which is more complicated than what Alex and I anticipated. Can we just do 'saving...' and 'saved' and after say 5 sec the label just go away?

[2020-06-09 06:13] calvinckho commented on #52
Great work everyone!

[2020-06-09 06:13] #52 closed

[2020-06-09 06:14] calvinckho commented on #56
@calixo888 can you check and see if you can reproduce this bug?

[2020-06-09 06:23] calvinckho commented on #60
@davidloesch1 I checked the code and didn't see delete Activity detection being implemented yet. Can you try to add it?

[2020-06-09 06:24] calvinckho commented on #31
@Ananya157 any update on this?

[2020-06-09 06:53] calvinckho commented on #73
fixed in 1.8.14 (1)

[2020-06-09 06:53] #73 closed

[2020-06-09 21:34] calvinckho commented on #94
@Ananya157 can you also check Jitsi on the opera browser?

[2020-06-12 18:33] calvinckho commented on #26
@calixo888 please follow through with Alvin's figma file to finish up the implementation of the other tasks

[2020-06-12 21:25] calvinckho opened #99 "push notification shouldn't show when in chat view"
when you are chatting, incoming messages shouldn't show as push notification on iOS

[2020-06-12 21:38] #86 closed

[2020-06-14 01:04] gideon-ho opened #100 "Black Square on discover page"
![Screenshot 2020-06-13 at 5 55 51 PM](https://user-images.githubusercontent.com/63323415/84582307-4b1fc500-ad9f-11ea-9d33-7439fa46d222.png)

(It happens Sporadically)

[2020-06-14 01:56] calvinckho opened #101 "favorite goal setting on/off"
favorite goal settings in editfeature is not controlling the favorite goal feature correctly

[2020-06-16 21:31] calvinckho commented on #26
@alvinwklee can you create a sketch of what it looks like when a To-Do is assigned to multiple Goals? This is what Calix has so far:
![Screen Shot 2020-06-16 at 2 30 25 PM](https://user-images.githubusercontent.com/23274587/84830231-edc58700-afdd-11ea-8e6e-252f39bdde09.png)

[2020-06-16 21:45] calvinckho commented on #26
@calixo888 can you also add the color-code to the Goals?

in showfeature.page.html line 222, goal[3] has the color code e.g. #cec2ff.

on implementing the color in html, you can do something like this.
`[ngStyle]="{'background': (goal[3] }"'

[2020-06-18 17:03] calixo888 commented on #56
Error could not be reproduced on local or production.

[2020-06-18 17:03] #56 closed

[2020-06-18 18:47] calvinckho opened #104 "implement Alvin's content creation design"
<img width="746" alt="Screen Shot 2020-06-18 at 11 45 57 AM" src="https://user-images.githubusercontent.com/23274587/85060014-5e44e300-b159-11ea-9aa7-e5dca36782d9.png">

Figma file:
https://www.figma.com/file/XZgem0mtj7xhrmcZ4tLkDn/Restvo-Admin-Mentoring-Design-Sprint?node-id=1%3A2

location: front/src/app/pages/feature/manage/feature-plans/feature-plans.page.html

[2020-06-18 19:05] calvinckho commented on #104
<img width="733" alt="Screen Shot 2020-06-18 at 12 05 12 PM" src="https://user-images.githubusercontent.com/23274587/85061619-ffcd3400-b15b-11ea-8df2-108c9107569c.png">

Once you are done, you can also work on the styling of the 'create' step.

[2020-06-19 18:32] calvinckho commented on #15
@rachelbian is working on the health score.

documentation is in this wiki: https://github.com/calvinckho/restvo-app/wiki/Health-Score

[2020-06-23 21:37] calvinckho commented on #104
@calixo888 import higher res assets

[2020-06-23 21:37] calvinckho commented on #104
@alvinwklee can you provide Calix with higher res assets for 'Create Your own Plan' and 'Select from available templates'?

[2020-06-24 18:39] lexiyip429 opened #109 "Admin Group Design"
https://www.figma.com/file/6fG3TYWZ39X6nzl0haU5EP/group?node-id=0%3A1

[2020-06-26 17:43] calvinckho commented on #26
@alvinwklee can you add a case when there are multiple goals selected? Calix needs it to implement for those scenarios. Thanks.

[2020-06-26 18:07] calvinckho commented on #17
@alvinwklee can you also include an empty state graphics for the Journey section?

[2020-06-26 23:57] alvinwklee commented on #17
Done, can be found here:
https://www.figma.com/file/qD4InkFEzspNx4OWGzijLV/Restvo-Me-Page?node-id=782%3A1

[2020-06-29 18:58] calvinckho commented on #17
@alvinwklee thanks Alvin. @calixo888 can you add the empty state graphics for Journey to the Me page?

[2020-06-29 20:40] alvinwklee commented on #26
https://www.figma.com/file/tCYsSppbXBa22E8dE3Tdn4/Restvo-PSWC?node-id=455%3A482

[2020-06-29 20:43] calvinckho commented on #26
awesome. thanks @alvinwklee. @calixo888 please follow Alvin's design to add the multiple Goal tags.

[2020-06-29 20:54] calixo888 commented on #26
alright, I'll get on that

[2020-06-29 21:48] calvinckho opened #110 "get Protractor waitForAngularEnabled(true) working"
@calixo888 @davidloesch1  can you try to get the Protractor's built-in waiting mechanism to work correctly?

Currently, I had to disable it to prevent an unknown async function from blocking protractor.

Try set waitForAngularEnabled(true) and you will see what happens. it waits for 10 sec and then timeout because it gets stuck at something unknown.

As a result, I used await browser.sleep(5000) a

[2020-07-01 22:31] gideon-ho opened #111 "when you hover over chat area the pointer turns into a mickey mouse hand"

[2020-07-02 03:02] calvinckho commented on #110
Thanks @davidloesch1, your article helped me identify where in our code the ngZone setIntervals() and setTimeout() were stalling the Protractor test: https://stackoverflow.com/a/57854350
I pushed the fix to app-dev01. we no longer need to set waitForAngularEnable to false in order to have Protractor working!!

I still need to use browser.sleep() in 2 places. It would be nice if we can get rid of i

[2020-07-02 04:47] #110 closed

[2020-07-02 04:48] #61 closed

[2020-07-02 05:08] calvinckho opened #112 "E2E test - Join a Journey"
@calixo888 David and I have fixed the e2e test dynamic waiting. the latest code is reflected in calix-me-page.e2e-spec.ts. do a npm install to upgrade to protractor 7.0.0. do npm run e2e to see it the new dynamic waiting at work.

If you can write a e2e test that walks a user through joining a journey.

1. begin at /app/activity/5ed1aafcb257a55e9c25beea;type=2;token=ZcksTu5LiY
2. as an unauthentic

[2020-07-02 05:25] calvinckho opened #113 "E2E Test - Add a user to a Group"
@davidloesch1 If you can write a e2e test that mimic a user inviting another user to a group

npm install to upgrade to protractor 7.0.0.
npm run e2e to see it the new dynamic waiting at work.

1. begin at /app/activity/5e0012f714001a7dbf712de2 (showfeature)
2. click on Sign In
3. log in
4. Click on 'Add User' on top right corner (should open up editparticipants.page.html modal view)
5. Click on '

[2020-07-02 05:26] calvinckho commented on #26
@calixo888 is this done?

[2020-07-02 06:12] #26 closed

[2020-07-02 06:56] calvinckho opened #114 "admin status not refreshed correctly after leaving as admin"

[2020-07-02 06:57] #21 closed

[2020-07-04 01:44] calvinckho opened #116 "display ion-skeleton-text instead of empty states while loading in Me page"
@calixo888  can you add ion-skeleton-text to the Me page sections while loading, before the app receives any data from server?

you can see how I did it to showfeature.page.ts line 768.

make sure you pull the latest app-dev01 code.

https://ionicframework.com/docs/api/skeleton-text

[2020-07-09 17:21] calvinckho commented on #72
@alvinwklee I have fixed this issue in the last dev release. can you check it on your iPhone?

[2020-07-09 17:22] #72 closed

[2020-07-09 22:14] calvinckho commented on #100
@gideon-ho is it still happening?

[2020-07-09 22:18] calvinckho commented on #31
@xinluzhou any chance you can get your Xcode to work?

[2020-07-09 22:19] calvinckho commented on #20
@calixo888 if you get some time, can you also take a look at this issue?

[2020-07-09 22:57] #17 closed

[2020-07-09 23:02] calvinckho opened #120 "convert new group chat to use the Activity data type"
in create new chat, for new chat with 3 or more participants, use the Activity data type

[2020-07-10 02:03] calvinckho commented on #20
turns out I found the issue. It was because service worker registration was broken since angular 7.3.0
https://github.com/angular/angular-cli/issues/8515#issuecomment-486017106

It is now fixed.

[2020-07-10 02:03] #20 closed

[2020-07-10 02:08] calvinckho commented on #48
@davidloesch1 can you take a look at this as well?

[2020-07-10 04:19] davidloesch1 commented on #60
Ok, as I mentioned, I am not sure how I missed this, I thought I did this at some point and just lost track of it I guess???  Not sure, but I worked on it tonight and am almost there.

it seems to work if you are a new user and join an activity, it changes your default "Restvo" to the activity you just joined.  Then, when you quit the new Activity, it goes back to "Restvo".  It is still very chopp

[2020-07-10 18:01] #116 closed

[2020-07-11 00:45] davidloesch1 commented on #60
Hi Calvin,

I think the logic is a little better after I had a play around with it.  Ultimately, I think we could logic the function down to be something that would be more useful on a global scale, but I think this works for a draft of it.  Let m know what you think.  Submitting a pull request now.

[2020-07-13 19:33] calvinckho opened #122 "ensure Desktop app chat socket.io is staying connected with the long polling protocol"

[2020-07-15 18:16] calvinckho commented on #66
write a new API call method in /src/app/services/systemlog.service.ts, ex. logError(err)

[2020-07-22 02:00] calvinckho commented on #101
fixed in 1.8.16(1)

[2020-07-22 02:00] #101 closed

[2020-07-22 03:15] #60 closed

[2020-07-22 03:17] #67 closed

[2020-07-22 04:31] #114 closed

[2020-07-22 04:31] #48 closed

[2020-07-22 04:32] calvinckho commented on #48
fixed in 1.8.16

[2020-07-22 04:33] #58 closed

[2020-07-22 04:49] calvinckho commented on #111
fixed in 1.8.16

[2020-07-22 04:49] #111 closed

[2020-07-22 04:52] calvinckho commented on #94
@rachelbian There is a new version of Jitsi API. can you check on your opera browser and see if this still happens?

[2020-07-22 07:04] calvinckho commented on #120
added in 1.8.16(1)

[2020-07-22 07:04] #120 closed

[2020-07-22 07:33] calvinckho opened #123 "Improve Chat Text Area: auto-capitalization"
/front/src/app/pages/group/groupchat

- [x] just add a property. refer to ion-textarea doc

[2020-07-23 01:32] calvinckho opened #124 "Admin menu tabs are not rounded in Desktop Dark Mode"
![Screen Shot 2020-07-22 at 6 30 36 PM](https://user-images.githubusercontent.com/23274587/88244768-a3bd6a00-cc49-11ea-83b2-ad4a83d8fb5a.png)

@calixo888 it shows rounded border in light mode but square in dark mode. can you take a look?

[2020-07-23 05:52] calvinckho opened #125 "PickfeaturePage reload twice"
hence the list is replicated

[2020-07-23 06:06] calvinckho opened #126 "text answer real-time collaboration not working"

[2020-07-23 18:52] #99 closed

[2020-07-23 19:54] calvinckho commented on #122
confirmed in 1.8.15

[2020-07-23 19:54] #122 closed

[2020-07-23 19:57] calvinckho commented on #125
fixed in 1.8.16

[2020-07-23 19:57] #125 closed

[2020-07-23 20:04] calvinckho commented on #109
Hi @lexiyip429, I added you as an admin in Movement Church's Small Group Ministry.

https://app.restvo.com/app/manage/activity/5ea1e6a16240cd58bb82a5ad/groups/5ea1e6a16240cd58bb82a5ad;categoryId=5e9fe35cc8bf1a622fec69d7

Please see the existing design and functions for the Groups view. I think we'll likely develop/design along this basic rubric because it is already being used in the other Program

[2020-07-23 21:00] calvinckho commented on #31
fixed in 1.8.16 (1)

[2020-07-23 21:00] #31 closed

[2020-07-24 01:06] calvinckho commented on #126
fixed in 1.8.16

[2020-07-24 01:06] #126 closed

[2020-07-24 01:09] #123 closed

[2020-07-24 03:28] calvinckho commented on #37
done for Android but iOS wouldn't allow to trigger deeplink from the same domain so

1) either send to dev.restvo.com/videoconference or another subdomain that is not restvo.com
2) the current solution is to just go back in page history

[2020-07-24 03:28] #37 closed

[2020-07-24 05:58] calvinckho commented on #41
fixed in 1.8.16 (3)

[2020-07-24 05:58] #41 closed

[2020-07-24 08:08] calvinckho commented on #87
https://stackoverflow.com/questions/45937291/how-to-specify-android-notification-channel-for-fcm-push-messages-in-android-8

[2020-07-25 00:59] calvinckho commented on #87
the reason it received duplicate push messages was because PushNotifications was registered twice. It is fixed in 1.8.16(4)

[2020-07-25 00:59] #87 closed

[2020-07-25 01:12] #124 closed

[2020-07-28 18:55] lorneez opened #128 "Chat Truncation Error"
There is an error in the chat messages where the message is truncated unnaturally.

[2020-07-28 23:22] calvinckho opened #129 "implement the members section design"
![Screen Shot 2020-07-28 at 4 21 06 PM](https://user-images.githubusercontent.com/23274587/88739091-81ff2f80-d0ee-11ea-9000-8f442c2e5fc4.png)

https://www.figma.com/file/cJKSlYCLY7w5hAOb3TV7FZ/%5BMobile%5D-Community-Profile---Admin-%26-Public-View?node-id=43%3A0

[2020-08-03 21:09] calvinckho commented on #47
all fixed. thanks Lorne.

[2020-08-03 21:09] #47 closed

[2020-08-06 01:21] calvinckho commented on #128
the message to reproduce this: "The Angular Compiler requires TypeScript >=3.4.0 and <3.5.0 but 3.5.3 was found instead"

the truncation happens when santizeHtml discard anything after <3, thinking that it is a tag <3> </3>. I have turned on santizeHtml: disallowedTagsMode: 'recursiveEscape' so content will be preserved in <3> content </3>. But because <3 is not closed, the content after it is sti

[2020-08-06 01:21] #128 closed

[2020-08-08 00:10] gideon-ho opened #130 "chat file attachment for mp3 not working after reload"
![Screenshot 2020-08-07 at 5 09 22 PM](https://user-images.githubusercontent.com/63323415/89697392-c9e13c00-d8d0-11ea-9643-5e8350732cc3.png)

[2020-08-13 21:59] #66 closed

[2020-08-17 18:00] calvinckho commented on #129
Hi @julie-ma, Calix and I are implementing the members section. We have a question. If a lot of the members have not uploaded their avatar photo, the list would look like this:

![Screen Shot 2020-08-17 at 10 58 00 AM](https://user-images.githubusercontent.com/23274587/90428339-b07e8380-e078-11ea-87df-35f9788683d6.png)

Do you want to show the default avatar (circled in the photo) only, or you wan

[2020-08-18 16:52] julie-ma commented on #129
@calvinckho Hi Calvin, I've discussed this with Alex, and we would like for you and Calix to go ahead with using the first and last initials as the avatar for people who haven't uploaded a profile picture. Thanks!

[2020-08-19 16:58] calvinckho commented on #130
src/app/pages/group/groupchat/groupchat.page.html

[2020-08-19 17:51] calvinckho opened #135 "add Archive Activity for Admin"

[2020-08-19 23:02] calvinckho commented on #129
@calixo888 The height isn't correct in mobile. Also the first and last initials aren't implemented yet?

![Screen Shot 2020-08-19 at 4 02 07 PM](https://user-images.githubusercontent.com/23274587/90698379-6262af00-e235-11ea-98c0-13405c41f72a.png)

[2020-08-20 00:13] kevin-tolentino commented on #15
@calvinckho Acknowledged. I'll take a look at the history of this issue. Thanks!

[2020-08-20 00:39] kevin-tolentino commented on #130
A note for myself (08/19/20):

- Calvin demonstrated this on the web app. The player appears to switch from an audio view layout to a video layout 3-4 seconds after viewing the screen
- Code location is on line 197 of src\app\pages\group\groupchat\groupchat.page.html

[2020-08-21 00:02] calvinckho commented on #135
implemented in 1.8.20

[2020-08-21 00:02] #135 closed

[2020-08-21 00:25] calvinckho commented on #15
@kevin-tolentino see if you can add the duration control to the activity history chart:

the chart is located in:
src/app/pages/feature/manage/feature-insight/feature-insight.page.html line 12

the loadMetrics method is located in:
src/app/pages/feature/manage/feature-insight/feature-insight.page.ts line 123

you can see how the systemlogService.loadMetrics() method results in a HTTP call that has

[2020-08-21 00:50] calvinckho opened #136 "logging out in the protractor test"
In e2e/src/journey.e2e-spec.ts, at the end of the test, can you add the steps to log out from the app? You will need to first find the respective html files and add a new id to the elements that you want to click.

the remaining steps:

1. click on the Settings tab (src/app/app.component.html line 53)
2. click on Log out (src/app/pages/user/settings/settings.page.html line 51)

to run the test:
cd

[2020-08-21 18:52] kevin-tolentino opened #137 ""Undefined undefined" chat title when going into chat box directly"
Undefined Chat Title shown at times at the top of the chatbox when turning the phone to sleep mode then going back into the app.

**Screenshot:**
![undefined-undefined-chat-title-resized](https://user-images.githubusercontent.com/56104566/90924066-9d82f080-e3a3-11ea-87c3-22b42978617f.jpg)

**Notes:**
- Noticed when using my Android Phone (Samsung Note 9)
- Displays Chat Title correctly when naviga

[2020-08-21 19:12] kevin-tolentino opened #138 "Android push notification displays HTML syntax"
Android push notification from chat thread shows html syntax instead of the intended string

**Screenshot (did not take screenshot at time of bug; it's only happened once):**
![html-syntax-in-android-push-notification](https://user-images.githubusercontent.com/56104566/90925800-b7720280-e3a6-11ea-8f36-14eaea3bbad9.jpg)

**Notes:**
- Noticed when using my Android Phone (Samsung Note 9)
- I was not

[2020-08-24 19:04] calvinckho commented on #129
@calixo888 can you also adjust the margin/padding?

![](https://user-images.githubusercontent.com/23274587/88739091-81ff2f80-d0ee-11ea-9000-8f442c2e5fc4.png)

[2020-08-25 05:12] calvinckho opened #139 "implement photo slideshow in show feature"
@calixo888 can you implement Julie's desktop slideshow feature in the showfeature page?

![Screen Shot 2020-08-24 at 10 07 19 PM](https://user-images.githubusercontent.com/23274587/91125313-56705600-e656-11ea-8bbd-953d83535f90.png)

showfeature.page.html line 435-461. Comment out the old code, and add the slideshow there. I will need to combine the codes later on by adding a toggle on the backend.

[2020-08-26 06:20] calvinckho opened #140 "in Curriculum view, add the ability to adopt Activity from marketplace"

[2020-08-26 06:20] calvinckho commented on #137
i can't reproduce it on my S7. I will need to install Note 9 simulator on my machine to reproduce it.

[2020-08-26 06:23] kevin-tolentino commented on #137
Alright, let me know if it works!

[2020-08-29 02:46] calvinckho opened #141 "Round corner for menu panel"
![Screen Shot 2020-08-28 at 7 45 22 PM](https://user-images.githubusercontent.com/23274587/91626810-24693780-e967-11ea-9690-428f914a654c.png)

@calixo888 can you add the round corners to the desktop menu panel?

[2020-08-31 21:31] calvinckho commented on #112
@kevin-tolentino adding you to track your progress on adding a way to sign out in this test.

[2020-08-31 21:33] calvinckho commented on #136
#112

[2020-09-01 00:26] calvinckho opened #142 "Improve Onboarding Admin Creation flow"
Can you implement Julie's design on the Admin Onboarding tab?

- [x] the create new and choose from template buttons.
- [ ] format the list using the card components

![Screen Shot 2020-08-31 at 5 19 40 PM](https://user-images.githubusercontent.com/23274587/91781188-849dea80-ebae-11ea-9d20-bd8cd5dfde12.png)

Figma file: https://www.figma.com/file/bcAaWJKygyGbQZI5yIf48h/%5BMobile%5D-Admin%2FMentor%

[2020-09-01 00:29] calvinckho commented on #129
merged into app-dev01.

[2020-09-01 00:29] #129 closed

[2020-09-01 04:13] calvinckho commented on #87
turns out the two channels registered on Android are push notification and local notification. temp solution: disabled local notification on android.

[2020-09-01 04:14] calvinckho commented on #137
@kevin-tolentino I was able to reproduce using a Samsung Note 9 emulator. I have released a patch for this bug. Can you download the dev version and test it? #87

[2020-09-02 18:30] calvinckho commented on #142
branch off calvin-improve-editfeature

[2020-09-03 18:39] calvinckho commented on #62
@alvinwklee can you post your figma file link here? Thanks.

[2020-09-03 20:10] alvinwklee commented on #62
https://www.figma.com/file/wYq29QWr7oFpjdphMMkVg0/Restvo-News?node-id=1%3A2

[2020-09-04 17:25] kevin-tolentino commented on #137
Hibl @calvinckho, I installed the dev version and tested, and could not reproduce the bug. I think it's fixed now.

[2020-09-04 17:30] #137 closed

[2020-09-04 17:31] calvinckho commented on #139
implemented in 1.8.20

[2020-09-04 17:31] #139 closed

[2020-09-04 18:16] calvinckho commented on #136
Hi @kevin-tolentino, your desktop log out steps are working great! Before I merge the PR, can you also add the mobile log out test steps to app.e2e-spec.ts? Once you have that done, we will be able to have the full device test cycles so we can string them up in our CI test on Travis.ci.

[2020-09-04 18:17] calvinckho commented on #136
to enable the app.e2e-spec test, you need to go to protractor.conf.js, and do
specs: [
    //'./src/**/*.e2e-spec.ts' // run all the testing scripts
    './src/app.e2e-spec.ts',
    //'./src/journey.e2e-spec.ts' // run this specific script
  ],

[2020-09-04 18:23] kevin-tolentino commented on #136
@calvinckho, got it, I'll work on it this afternoon and message you if I have any questions!

[2020-09-05 05:28] #112 closed

[2020-09-05 14:54] calvinckho opened #144 "add multi-select delete action to feature-childactivities"
![Screen Shot 2020-09-05 at 7 54 32 AM](https://user-images.githubusercontent.com/23274587/92307695-0a25ef80-ef4d-11ea-96a6-64c5a79a77b6.png)

[2020-09-05 15:58] calvinckho commented on #144
added in 1.8.20

[2020-09-05 15:58] #144 closed

[2020-09-07 19:40] calvinckho commented on #142
Hi @julie-ma and @alvinwklee, can you two discuss among yourselves and decide on whose 'Create New One' and 'Choose from Existing Template' graphics to use in the admin view? @calixo888 and I have added both and they both look great. We jus need to decide on the same set for consistency reason. Or Julie, did you design another set of graphics to distinguish it from the Activity views (Programs, Jo

[2020-09-07 19:43] calvinckho commented on #142
adding @leahnsung and @alexandertsung for their inputs.

[2020-09-07 19:59] calvinckho commented on #142
also @julie-ma, the two actions on the view are 'view' and 'edit'. You only had 1 action with the right arrow on the cards. Can you also add a way for admin to edit it? To test the action, you can click [here](https://app.restvo.com/app/manage/activity/5de784589e3c3463491cf5c3/onboarding/5de784589e3c3463491cf5c3;programId=5de784589e3c3463491cf5c3;organizer=true;showHeader=false)

[2020-09-07 20:00] calvinckho opened #145 "admin desktop view menu tab css issues"
![Screen Shot 2020-09-07 at 12 58 17 PM](https://user-images.githubusercontent.com/23274587/92414677-228f3900-f10a-11ea-9a9c-6751f8225d34.png)

[2020-09-08 01:06] kevin-tolentino commented on #136
Hi @calvinckho, I just implemented the mobile logout test steps for app.e2e-spec.ts. You can view the PR [here](https://github.com/calvinckho/restvo-app/pull/143). Please let me know if anything else needs to implemented for this test!

[2020-09-08 17:52] julie-ma commented on #142
![View_Edit](https://user-images.githubusercontent.com/54380537/92510805-4497c280-f1c1-11ea-883f-1109e254ff46.png)

@calvinckho - Admins can edit it in the view. I have attached a screenshot that shows how. The edit button is in the red rectangle. So admins can view an onboarding, then choose to edit it from that view as well.

[2020-09-08 18:31] alvinwklee commented on #142
@calvinckho @calixo888 We've both decided to go along with this one:
![image](https://user-images.githubusercontent.com/41273385/92514407-b6263f80-f1c6-11ea-9b9c-a2eeac2868ca.png)

[2020-09-08 21:00] #136 closed

[2020-09-08 21:02] #109 closed

[2020-09-09 18:32] kevin-tolentino commented on #15
For my reference: Figma file for insights page - https://www.figma.com/file/JpRhKthbsdVVhf27ajd8GP/Restvo-Insights?node-id=439%3A193

[2020-09-11 17:54] calvinckho commented on #142
thanks. @calixo888 had it implemented and I'll close this.

[2020-09-11 17:54] #142 closed

[2020-09-11 19:41] calixo888 commented on #145
@calvinckho I can't seem to recreate this bug?

[2020-09-14 23:53] calvinckho commented on #145
great work @calixo888 . merged with app-dev01. closing this.

[2020-09-14 23:53] #145 closed

[2020-09-15 00:25] calvinckho opened #146 "check to see why a relationship's feedback form is not loading the answers correctly"
https://app.restvo.com/app/activity/5e91e7fa9a321a4eabc72852;id=5e91e7fa9a321a4eabc72852;relationshipId=5e5d798119b95d77f70b2c46;calendarId=5f5fb984cc9c5518562127f6;subpanel=true

[2020-09-19 23:52] calvinckho opened #147 "iOS 13 Safari browser sign-on page auto-fill not working for the email field"

[2020-09-21 18:09] calvinckho commented on #88
confirm that this bug is fixed by Apple in iOS 14.0.

[2020-09-21 18:09] #88 closed

[2020-09-21 18:18] calvinckho opened #148 "E2E test - create new account"

[2020-09-24 19:13] calvinckho opened #149 "E2E Test: Create Community, then Create Program from scratch"

[2020-09-24 19:14] calvinckho commented on #148
completed and merged into app-dev01.

[2020-09-24 19:14] #148 closed

[2020-09-25 19:24] calvinckho commented on #94
@kevin-tolentino when you get a chance, can you test our video call feature Jitsi on Opera?

[2020-09-25 19:36] alvinwklee opened #150 "chat auto scroll"
When selecting the text bar to type on mobile (iphone XR), the keyboard pops up and blocks the bottom of the chat. It doesn't autoscroll down to the latest message when the keyboard is pulled up.

![IMG_2369](https://user-images.githubusercontent.com/41273385/94308362-41c00000-ff2b-11ea-926c-9274c37633fa.PNG)

![ezgif com-optimize](https://user-images.githubusercontent.com/41273385/94308658-ac713b

[2020-09-25 19:49] gideon-ho opened #151 "Black square appears once clicked left right arrow"
![screencast-nimbus-capture-2020 09 25-12_38_06](https://user-images.githubusercontent.com/63323415/94311197-b1d08500-ff2f-11ea-9540-6f9f4e2847a4.gif)

[2020-09-25 19:53] calvinckho opened #152 "E2E Test: Add and Remove a Restvo User as friend"
@kevin-tolentino  here is the flow:

1. Log in as Ted Ho (calvin+3@restvo.com)
2. Go to Chat view
3. Click the Add button on the top right
4. Select Asia Ho
5. Confirm
6. Send her a chat message
7. in groupchat.html view, click on 'more' button
8. Click on Report, then Delete and Unfriend
9. Ensure Asia Ho no longer shows up in the chat list
10. log out

[2020-09-25 19:57] calvinckho commented on #150
thanks @alvinwklee !

[2020-09-25 21:46] kevin-tolentino commented on #94
@calvinckho, yes I'll take a look at it and get back to you

[2020-09-26 03:40] calvinckho opened #153 "Ngx quill editor can’t easily select on iOS mobile"

[2020-09-27 02:32] gideon-ho opened #154 "O has a line once participants/coaches are dragged off the screen on admin page"
![screencast-nimbus-capture-2020 09 26-13_26_13](https://user-images.githubusercontent.com/63323415/94354370-2b9b6800-002f-11eb-997b-2fdee1ecfe9c.gif)

[2020-10-07 18:21] calvinckho opened #155 "research on a doodling package"
- specs:

we want to embed it on the showfeature.page.html

[2020-10-09 22:21] calvinckho opened #156 "E2E Test: Create and Delete a Community"
1. log in as Ted Ho (calvin+3@restvo.com)
2. click on Invite
3. click on Community, then Create
4. fill out the info about this community
5. in Me, the new community should show in the list
6. click into it, in the Manage view, on the top right, click the ..., then delete
7. back in the Me page, the community should be deleted.
8. log out

[2020-10-09 22:22] calvinckho opened #157 "E2E Test: click around the unauthenticated page"

[2020-10-10 01:04] kevin-tolentino opened #158 "Chat Search Bar returns for first name only in "Restvo" category"
When using the create chat page search bar, searching with the full first and last name returns profiles correctly under the "Friend" category, but not the "Restvo" category, as shown by this screenshot. In the "Restvo" category, it only returns by first name, and if a space is inputted, nothing gets returned. The same behavior was reproduced on mobile (Android).

Gif Screenshot from app.restvo we

[2020-10-13 18:17] calvinckho commented on #15
@alexandertsung and @rachelbian , once you guys have a version ready for @kevin-tolentino to implement, please update him here. thanks!

[2020-10-13 18:25] calvinckho commented on #155
https://github.com/WebFactoryMk/ng2-canvas-whiteboard#readme

[2020-10-13 18:28] calvinckho opened #159 "E2E test enter credential fails"
happens sporadically. maybe 10 - 30% of the time depending on speed of the machine.

[2020-10-13 22:57] calvinckho commented on #158
fixed and will be released in tonight's server release.

[2020-10-13 22:57] #158 closed

[2020-10-14 21:00] alvinwklee opened #160 "Jitsi promo image after ending video call"
![](https://files.slack.com/files-pri/T8ZCA26RX-F01CZ99UPS5/image.png)
![image](https://user-images.githubusercontent.com/41273385/96044616-8d2c4680-0e25-11eb-8b26-21634721ee0f.png)
Got this image today after our sync, not sure if it's a temporary thing, but could be something to look into removing.

[2020-10-14 22:09] calvinckho commented on #160
fixed and patch released in production. thanks Alvin for reporting this!

[2020-10-14 22:09] #160 closed

[2020-10-16 17:34] calvinckho commented on #146
it is now loading the answer correctly. closing this.

[2020-10-16 17:34] #146 closed

[2020-10-16 17:38] calvinckho commented on #147
it has been fixed for mobile & desktop browsers, but still doesn't work on native apps.

[2020-10-16 18:18] calvinckho commented on #94
@kevin-tolentino when you get a chance, please let me know update on this. Thanks

[2020-10-16 18:19] calvinckho commented on #155
@calixo888 , can you recommend a package by the end of this week so I can create a task? Thanks.

[2020-10-16 20:50] kevin-tolentino commented on #94
@calvinckho, I tested it out the video conferencing feature just now using the Opera Browser on my PC (Surface Laptop 2) and my phone (Samsung Note 9). I was logged in as the Ted Ho test account on the Opera Browser, and as myself on my phone app. I tested all of the issues Rachel described, and there doesn't seem to be any problems. I forgot to use the Opera Browser during our team video conf thi

[2020-10-16 21:32] calvinckho commented on #94
If you can test it for our weekly meeting, that would be helpful. I think if it works for 1-1 it should work for teams. I am going to close this for now and can reopen it if you run into issues.

[2020-10-16 21:32] #94 closed

[2020-10-19 22:22] calvinckho commented on #157
1. go to app.restvo.com
2. click on the first mentor in the array
3. exit out from the register page
4. click into the first featured community
5. if it loads successfully, done

[2020-10-19 22:28] calvinckho commented on #155
if you can give a recommendation by this Friday (10/23) it will be great. thanks

[2020-10-19 22:58] calvinckho commented on #15
will @alvinwklee or @julie-ma be taking over this from @rachelbian? Just want to clarify it for @kevin-tolentino while I am away for vacation.

[2020-10-22 19:21] calixo888 commented on #155
Not a library, but we can build something like this if we can't find a different library: https://medium.com/@tarik.nzl/creating-a-canvas-component-with-free-hand-drawing-with-rxjs-and-angular-61279f577415

[2020-10-22 19:22] calixo888 commented on #155
Just a normal canvas, not an interactive drawing one: http://rafaelescala.com/ng2-konva/

[2020-10-22 19:23] calixo888 commented on #155
Possibly could build this in original HTML/JS? http://fabricjs.com/

[2020-10-22 23:21] kevin-tolentino opened #164 "Jitsi user window video stream positioning off"
When @alexandertsung and I were video conferencing, the positioning of the user feed was partial on his own screen as seen in this screenshot. This is a screen share of Alex's view to see the bug, he is using chrome: ![Jitsi-user-window-positioning-bug](https://user-images.githubusercontent.com/56104566/96939135-014b9780-1481-11eb-9d04-0bb4bae307d3.png)

 My own view -- which was before this scree

[2020-10-30 23:33] kevin-tolentino opened #165 "Cannot create more than one new community In the same browser/phone session"
There is a gif file and a loom video to see this bug. Both demonstrate the bug, but the gif shows an additional issue with the bug in the case that you log in as a different user during the same session.

I found a bug where you cannot create another new community within the same browser session. This happened both on my chrome browser as well as my phone app (Samsung Note 9). If the community sti

[2020-10-30 23:48] calvinckho commented on #165
Good job catching this bug. I think it has to do with the caching of the default community not working correctly. Also the cached community is not cleared correctly when logging out.￼ I will take a look in the next few days.

[2020-11-04 18:58] calvinckho commented on #152
@kevin-tolentino, I have merged your PR #161 into app-dev01. However it fails in the travis test. https://travis-ci.com/github/calvinckho/restvo-app/jobs/428212119. Can you try to figure out why it fails on step 'should select Asia Ho and show confirmation alert'?

[2020-11-04 19:13] kevin-tolentino commented on #152
Hi @calvinckho, thanks for letting me know! Regarding why it failed, I'm thinking it's because "Asia Ho" was already a friend when the test ran. I just saw the test being run again and it looks like it passed.

[2020-11-05 00:37] calvinckho commented on #113
@calixo888 I have done some work to improve upon yours. please check out calvin-add-user. I am able to get it to work but there is a timeout error I cannot isolate yet.

[2020-11-13 15:58] SashvDave opened #169 "Links on the website does not work"

[2020-11-13 17:29] calvinckho commented on #169
Hi @SashvDave, thanks for the bug report. I fixed the links and you can click on them to contact us. Thanks!

[2020-11-13 17:29] #169 closed

[2020-11-25 18:56] #104 closed

[2020-11-25 18:56] #155 closed

[2020-11-25 18:57] calvinckho commented on #141
it is not that easy to do as it involves changing the ionic framework web component.

[2020-11-25 18:57] #141 closed

[2020-12-02 17:59] #62 closed

[2020-12-02 17:59] #100 closed

[2020-12-10 01:03] calvinckho opened #171 "customize Restvo Web App icons"
Lily is spearheading the design of the Web App icons. I'll assign @calixo888 to implement them. Calix, here is the medium post on how to do it: https://medium.com/@JordanBenge/how-to-create-custom-ionic-4-icons-af80cc6cc148

[2020-12-10 01:08] calvinckho commented on #164
@kevin-tolentino @calixo888  is this issue still happening? I have seen it once 2 months ago but haven't seen it recently.

[2020-12-10 07:12] kevin-tolentino commented on #164
@calvinckho, I haven't experienced this issue since the day I posted about it. Feel free to close the issue.

[2020-12-10 09:13] kevin-tolentino opened #172 "Jitsi General Camera Issues Reference"
Link to general Jitsi Camera Issues from Jitsi repo here: https://github.com/jitsi/jitsi-meet/issues/5425

[2020-12-16 21:07] calvinckho commented on #165
this is fixed in the latest commit to app-dev01. Thanks @kevin-tolentino!

[2020-12-16 21:07] #165 closed

[2020-12-16 21:07] #159 closed

[2020-12-16 21:08] calvinckho commented on #151
seems to only happen on chromebook. cannot reproduce in other platforms.

[2020-12-16 21:08] #151 closed

[2020-12-16 21:09] #156 closed

[2020-12-16 21:10] calvinckho commented on #80
closing this for now. can reopen in the future if this is higher in our priority list.

[2020-12-16 21:10] #80 closed

[2020-12-19 04:22] #152 closed

[2020-12-19 04:25] calvinckho commented on #113
It is finally working! @calixo888 I identified in line 67:

await showfeature.clickElement('#add-user-to-group');

It is clicking on both the authenticated and unauthenticated showfeature page add user buttons. So it causes the unauthenticated click button async function to timeout because that button is not visible (because only the authenticated page is visible). I fixed it by adding a check in

[2020-12-19 04:25] #113 closed

[2021-01-06 19:04] alvinwklee opened #173 "Coach marks package for ionic"
Please find out if there's a package that helps us incorporate coach marks into the platform.

[2021-01-06 20:31] calvinckho commented on #171
@lilymuseum can you upload the main web site's icon first so @kevin-tolentino can try to implement them?

@calixo888 and I also seemed to have figured out the issue in Ionic as well. So you can also upload the web app set in a separate post.

[2021-01-06 20:45] lilymuseum commented on #171
[web main page feature icons.zip](https://github.com/calvinckho/restvo-app/files/5778113/web.main.page.feature.icons.zip)
Here it is. Thanks.

[2021-01-07 21:05] calvinckho commented on #171
Hi Lily, for the web app icon set, is there any way you can remove the property fill="none" in the svg tag?

ex. see the bold text that needs to be removed in the Discover icon
<svg width="25" height="25" viewBox="0 0 25 25" **fill="none"** xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.5 12.5C24.5 19.1274 19.1274 24.5 12.5 24.5C5.87259 24.5 0.5 19.1274 0.

[2021-01-07 21:22] calixo888 commented on #173
We can use Intro.js. I've used it before and it's really easy to use, and they have an Angular wrapper.

https://introjs.com/docs/wrappers/angularjs

[2021-01-07 21:56] lilymuseum commented on #171
Got it. I will remove the property. Thanks for finding the solutions! Btw, currently, I designed the web app icons 24px by 24px. Should I adjust them to 25px by 25px, as you mentioned? @calvinckho

[2021-01-08 00:24] lilymuseum commented on #171
Please see attached. Thanks. @calvinckho @calixo888
[0107 web main page icons.zip](https://github.com/calvinckho/restvo-app/files/5784533/0107.web.main.page.icons.zip)
[web app icons.zip](https://github.com/calvinckho/restvo-app/files/5784534/web.app.icons.zip)

[2021-01-08 19:29] calixo888 commented on #171
Pushed all new changes with Ionic optimizes to the discover-icon branch!

[2021-01-09 02:01] kevin-tolentino commented on #171
@calvinckho, I just pushed my branch for restvo-stencil website for icon changes. Feel free to view PR [here](https://github.com/calvinckho/restvo-stencil/pull/4)

@lilymuseum, feel free to take a look to see gif demo provided in link.

[2021-01-09 04:59] lilymuseum commented on #171
@kevin-tolentino Thank you. Kevin. Btw, I noticed the "Learning" and " Onboarding" icons are slightly larger than others visually. My fault. Sorry about that. I reduced the icon sizes a little bit. Please see attached. It will be great if you can replace them.
[0108 learning and onboarding.zip](https://github.com/calvinckho/restvo-app/files/5790168/0108.learning.and.onboarding.zip)

[2021-01-09 23:16] lilymuseum commented on #171
Hi team, I saw you had uploaded part of the web app icons. They look great. I found the "Setting" icon is different from what I provided. Could you take a look on Monday? Additionally, I didn't notice we have a "Journeys" web app icon (the liner human figure - it was not there when I took the screenshot last time), but I think we can use the same design as the web main page icon. Please find the "

[2021-01-10 03:53] calvinckho commented on #171
thanks @lilymuseum. @calixo888 can you check the Settings icon, and also use attached Journey icon in the admin view?

[2021-01-11 19:34] calixo888 commented on #171
@calvinckho @lilymuseum just updated! I added the new journey icon. I took a look at the settings icon, and you're right it does look off. I tried to redownload it and make the ionic changes and it turned out the same, which leads me to think it's Ionic that's filling in the middle of the cog?

[2021-01-12 21:33] calixo888 commented on #171
@calvinckho @lilymuseum I fixed the settings icon. I think I was using the correct SVG file, but because it was named the same as a default Ionic icon it rendered that instead.

@calvinckho Lily sent me the new group and mentoring icons which I added. For some reason, I can't see these categories showing on the admin page, so can you confirm that it works? I feel like some of the icons still aren'

[2021-01-12 21:33] calixo888 commented on #171
@lilymuseum would you mind dropping the Figma link in this thread? I want to take a look and can't seem to find it haha

[2021-01-12 22:01] lilymuseum commented on #171
@calixo888 Sure. https://www.figma.com/file/O3ASePWi7h8FNipjQP5Un0/Restvo-Features-icons-redesign?node-id=0%3A1

[2021-01-13 19:45] calvinckho opened #174 "Add Health Score Design to Admin Dashboard"
@leahnsung has finished the design on the health score display for individual users:

https://www.figma.com/file/JpRhKthbsdVVhf27ajd8GP/Restvo-Insights?node-id=930%3A168

[2021-01-13 19:49] #173 closed

[2021-01-19 09:08] calvinckho opened #175 "running e2e tests on circle ci"
@calixo888, can you help me do some research and see if you can convert our travis.ci test and run it on circle.ci?

If you check out app-dev01, I have already created a .circleci/config.yml file. You can use this guide as a beginning step in your research and see if you can successfully run e2e tests on circle.ci:

https://circleci.com/docs/2.0/migrating-from-travis/?utm_medium=SEM&utm_source=gnb

[2021-01-22 20:57] calvinckho opened #176 "web app Jitsi call sometimes duplicate participants"
it happens haphazardly and sometimes it happens in the middle of a call. This issue is created to monitor it and see it if happens again.

[2021-01-22 20:59] calvinckho commented on #171
@lilymuseum, does the latest released we app have all of your new icons? If so we will close this issue. Thanks again!

[2021-01-22 20:59] #164 closed

[2021-01-22 21:45] lilymuseum commented on #171
@calvinckho Hi Calvin. The web main page icons look great. Thank you! Four web app icons haven't been updated in my admin view. Could you help me update them? Please find the SVG files attached. I also included the screenshots. Feel free to let me know if you have any questions.
[0122.zip](https://github.com/calvinckho/restvo-app/files/5858744/0122.zip)

[2021-01-22 21:55] calvinckho commented on #171
@calixo888 , can you finish updating those 4 icons and then create a PR? Thanks.

[2021-01-25 18:34] calvinckho commented on #176
@kevin-tolentino if you can help me investigate why there are two iframes created within the <div id=videoConference></div>

![Screen Shot 2021-01-25 at 10 32 12 AM](https://user-images.githubusercontent.com/23274587/105749828-cda56100-5ef8-11eb-985a-5179f060d5b6.png)

[2021-01-25 22:05] calvinckho commented on #171
thanks @calixo888 for checking up on this. @lilymuseum I just merged Calix's work, and will be releasing it end of today on desktop version. Thanks everyone for the great work. I'm closing this for now.

[2021-01-25 22:05] #171 closed

[2021-02-11 01:48] calvinckho opened #177 "cache the last used tab"

[2021-02-11 01:52] calvinckho commented on #138
are you still seeing this @kevin-tolentino?

[2021-02-11 04:58] kevin-tolentino commented on #138
@calvinckho , I have not seen it since that day. I think it is good to close this issue until it may come up again with another user. It has not happened since this time in August

[2021-02-11 21:44] calvinckho commented on #138
Thank you @kevin-tolentino. I will close this for now and if we see it again we can reopen it.

[2021-02-11 21:44] #138 closed

[2021-02-18 01:52] calvinckho opened #179 "eliminate responses to lessons in the Notes section"

[2021-02-19 20:36] calvinckho commented on #15
great work @kevin-tolentino!

[2021-02-19 20:36] #15 closed

[2021-02-20 02:35] #175 closed

[2021-02-20 02:41] calvinckho commented on #154
@gideon-ho is this still a problem on your laptop?

[2021-02-25 18:07] alvinwklee opened #181 "New User Onboarding Flow"
Figma file: https://www.figma.com/file/AMVeEQcoq9psM30VcfEc6q/Restvo-New-User-Onboarding?node-id=211%3A1600

I don't think the notification screen can be implemented yet until Lily's design for the Discover section is completed.

[2021-03-09 02:04] calvinckho opened #182 "Jitsi Meet iFrame API crashes when sharing screen on 2010 M1 MacBook Pro running Big Sur"
it crashes on chrome and firefox

[2021-03-12 00:23] calvinckho commented on #182
Lily tested screen share in the jitsi web app and it didn't crash. so need to investigate why the restvo implementation caused it to crash.

[2021-03-12 00:24] calvinckho commented on #177
implemented in the latest dev version in branch calvin-discover-01

[2021-03-12 00:24] #177 closed

[2021-03-12 00:24] calvinckho commented on #172
Hi @kevin-tolentino, have you seen this issue occur in our web app lately?

[2021-03-12 00:25] calvinckho commented on #176
@kevin-tolentino I think this has been fixed by Jitsi? no more duplicate participant, is that correct?

[2021-03-12 17:35] calvinckho opened #183 "add discover page filter"
add the floating filter on the discover page

https://www.figma.com/file/3Cwq1Kkol0aMJA29YkhHuY/discover-page-prototype?node-id=0%3A1

add it in:
/src/app/user/discover/discover.page.html

create a new branch off calvin-discover-01

[2021-03-12 17:49] calvinckho commented on #183
data structure:

![Screen Shot 2021-03-12 at 9 49 02 AM](https://user-images.githubusercontent.com/23274587/110978447-41b88e80-8318-11eb-96bd-766fa22ea509.png)

[2021-03-12 18:00] calvinckho opened #184 "convert the text pop-up to graphics pop-up"
after successfully joining (cloning) a plan in the discover page, it shows a confirmation pop-up.

https://www.figma.com/file/3Cwq1Kkol0aMJA29YkhHuY/discover-page-prototype?node-id=0%3A1

![Screen Shot 2021-03-12 at 9 59 49 AM](https://user-images.githubusercontent.com/23274587/110979621-b17b4900-8319-11eb-8c6d-14fd98053058.png)

[2021-03-12 18:03] kevin-tolentino commented on #172
@calvinckho, it has not. We can close this issue and reopen it again if needed.

[2021-03-12 18:13] calvinckho commented on #172
Sounds great.

[2021-03-12 18:13] #172 closed

[2021-03-17 20:39] calvinckho opened #185 "enhance PWA offline support for Chrome 93 (Aug 2021)"
https://developer.chrome.com/blog/improved-pwa-offline-detection/

[2021-03-18 01:17] calvinckho commented on #152
Hi @kevin-tolentino, it seems that it fails in circle.ci because of a race condition in line 89 - 91. The two button clicks are too close to each other and a sleep of 500ms seems to have solved it.

``
await app.clickElement('#restvoGroup ion-item');
await browser.sleep(500); // this is needed to prevent the race condition on circle.ci
await app.clickElement('#selectAppUsersButton');
``

[2021-03-18 01:19] calvinckho commented on #156
@kevin-tolentino. In this test, because the createfeature is a slideshow, it needs to wait until visible instead of wait until present. The elements are already present in the slides but may not be visible.

[2021-03-24 23:34] calvinckho commented on #157
@kevin-tolentino, with the new Discover page now implemented, can you write this e2e test that would test the new unauthenticated discover page? you can branch off app-dev01.

[2021-03-25 00:26] calvinckho commented on #184
![Screen Shot 2021-03-24 at 5 26 10 PM](https://user-images.githubusercontent.com/23274587/112400645-09289580-8cc6-11eb-8d32-81dd35db162f.png)

[2021-03-29 04:27] calvinckho opened #186 "add graphics to Lesson view"
https://www.figma.com/file/3Cwq1Kkol0aMJA29YkhHuY/discover-page-prototype?node-id=0%3A1

![Screen Shot 2021-03-28 at 9 25 15 PM](https://user-images.githubusercontent.com/23274587/112786892-1e762a80-900c-11eb-9b22-539814c92a44.png)

@calixo888, can you insert Lily's graphics in showfeature.page.html, in the following sections:

![Screen Shot 2021-03-28 at 9 26 15 PM](https://user-images.githubuser

[2021-04-01 00:30] kevin-tolentino commented on #176
@calvinckho, yes I have not seen duplicates in a long time. We can close this.

[2021-04-01 00:45] calvinckho opened #187 "research on whether we can remove the onboarding confirmation after joining 2021 Bible Plan"

[2021-04-01 02:19] calvinckho commented on #176
thanks @kevin-tolentino!

[2021-04-01 02:19] #176 closed

[2021-04-01 17:40] calvinckho commented on #183
great job @calixo888! released in 1.9.0

[2021-04-01 17:40] #183 closed

[2021-04-14 03:57] calvinckho commented on #187
implemented

[2021-04-14 03:57] #187 closed

[2021-04-14 03:58] #140 closed

[2021-04-14 03:58] calvinckho commented on #179
implemented in 1.9.0

[2021-04-14 03:58] #179 closed

[2021-04-14 03:58] calvinckho commented on #154
seems to only happen on chrome

[2021-04-14 03:58] #154 closed

[2021-04-14 03:59] calvinckho commented on #184
implemented in 1.9.0

[2021-04-14 03:59] #184 closed

[2021-04-14 04:03] calvinckho opened #188 "autofill background color should also be dark in dark mode"
@calixo888, can you take a look at the log in page in dark mode? /app/register

the autofill feature turns the box into a light grey background, which causes the text to be hard to see. if you delete the autofill text, the empty text area has the dark background color again.

![Screen Shot 2021-04-13 at 9 00 44 PM](https://user-images.githubusercontent.com/23274587/114652732-52538000-9c9b-11eb-82b

[2021-04-14 21:16] calvinckho commented on #188
fix it with the following:

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

[2021-04-14 21:16] #188 closed

[2021-04-24 19:52] #186 closed

[2021-04-24 19:53] calvinckho commented on #149
not high priority at this point. closing it

[2021-04-24 19:53] #149 closed

[2021-05-02 04:39] calvinckho opened #190 "Discover page can’t scroll correctly"
On mobile iOS, when navigate away and back to the native app Discover page, the content scroll mechanism is not working. You need to click away on the filter button and then back to activate the scrolling mechanism.

[2021-05-12 04:20] #190 closed

[2021-05-12 04:20] calvinckho commented on #190
Fixed by forcing reloading the list on entering view

[2021-05-12 04:23] calvinckho commented on #153
Resolved in the latest release.

[2021-05-12 04:23] #153 closed